@using Microsoft.AspNetCore.Authentication

<h1>Welcome to ClientsApi</h1>

@if(User.Identity.IsAuthenticated) {

	<p>Your are authenticated:</p>
	<ul>
		<li>@User.Claims.Single(c => c.Type == "given_name")</li>
		<li>@User.Claims.Single(c => c.Type == "family_name")</li>
		<li>@User.Claims.Single(c => c.Type == "email")</li>
	</ul>

	<h2>Claims</h2>

	<dl>
		@foreach (var claim in User.Claims)
		{
			<dt>@claim.Type</dt>
			<dd>@claim.Value</dd>
		}
	</dl>

	<h2>Properties</h2>

	<dl>
			@foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
			{
				<dt>@prop.Key</dt>
				<dd>@prop.Value</dd>
			}
	</dl>
}
else {
	<p>You are not authenticated. <a asp-area="" asp-controller="Home" asp-action="Login">Login</a></p>
	<p>There are 2 tests users available:</p>
	<ul>
		<li>name: alice, password: alice</li>
		<li>name: bob, password: bob</li>
	</ul>
}